<h1>Hang Your Boots Privacy Policy</h1>
We will never give or sell information that users are giving to us.
The information may become available through Hang Your Boots’ website, on the user’s profile page, and the page of the house to which he/she has committed.
Except for that, the information will remain private.

<h1>TOS</h1>
By signing up for Hang Your Boots, you accept and authorize Hang Your Boots to access your facebook information, such as:
<ul>
  <li>name</li>
  <li>email</li>
  <li>gender</li>
</ul>
profile picture
and to give access to your facebook profile public url to other members of your cohort, who may want to get more information about you before becoming your roommate. 