<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://placehold.it/960x500" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Live Together, Hack Together...</h1>
              <p class="lead">...Without the headache! Hang Your Boots makes finding housing for Dev Bootcamp and collaborative process you can manage all in one place.</p>
              <a class="btn btn-large btn-primary" href="#">Get Started Today!</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/960x500" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Don't Know The Area? No Worries!</h1>
              <p class="lead">Select from our pool of pre-vetted housing options--all within walking distance of DBC Headquarters on California Street in San Francisco.</p>
              <a class="btn btn-large btn-primary" href="#">Enter Your Invite!</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/960x500" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Use Hang Your Boots To Manage Your Own Hidden Housing Gem...</h1>
              <p class="lead">If you've already found a house, but you need to fill it with like-minded geeks, Hang Your Boots is here for you. Add your ideal house and manage the commitment process with us.</p>
              <a class="btn btn-large btn-primary" href="#">Do It Now!</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->