      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="/assets/sf-skyline.jpg" class="img-polaroid">
        <h2 class="featurette-heading">Live Together. Hack Together. <span class="muted">Without the Headaches.</span></h2>
        <p class="lead">The Hang Your Boots app takes the stress out of forming a hacker-house with your fellow Dev Bootcamp boots. View and commit to pre-vetted apartments, all within walking distance of DBC headquarters.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="/assets/financial-district.jpg" class="img-polaroid">
        <h2 class="featurette-heading">Don't Know The Area? No Worries!<span class="muted">We Thought of That...</span></h2>
        <p class="lead">Who better than former boots to help you find the house that's right for you during your time at Dev Bootcamp? We've pre-populated Hang Your Boots with several rentals sure to fit your needs (but you can always add your own).</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="/assets/kitchen-archstone.jpg" class="img-polaroid">
        <h2 class="featurette-heading">Choose the Amenities You Want. <span class="muted">Or Get To Know Your New Roommates Through The Integrated Facebook Commenting.</span></h2>
        <p class="lead">Before Hang Your Boots, organizing a hacker-house meant constantly clicking back-and-forth between 3-4 tabs in your browser. Now you can get the info you need all in one place: See commitments, add houses, and communicate through facebook comments.</p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES