<div>
	<h2>Join with Facebook</h2>
	<%= form_tag(:action => "new", :controller => "login", :class => "form-inline") do %>
	<div class ="input-append">
		<%= text_field_tag 'invite_code',nil, :placeholder => "Invite code..." %>
		<%= submit_tag "Submit", :class => 'btn' %>
	</div>
	<% end %>
</div>
